
##
## ** NOTE ** Use ansible-vault to encrypt this
##

rhel9workshop_student_password: "{{ t_workshop_user_password }}"
rhel9workshop_admin_password: "{{ t_workshop_admin_password }}"

##
##
##

rhsm_credentials:
  username: "{{ t_rhsm_uid }}"
  password: "{{ t_rhsm_pw }}"

##
##
##

libvirt_credentials:
  default:
    username: "{{ t_virthost_uid }}"
    password: "{{ t_virthost_pw }}"

##
##
##

ovirt_credentials:
  default:
    username: "{{ t_ovirt_manager_uid }}"
    password: "{{ t_ovirt_manager_pw }}"

##
##    Credentials to access the IPMI bmc
##

bmc_credentials:

  ##
  ##    If you have a standard uid/pw,
  ##    you can just set the default
  ##

  default:
    username: "root"
    password: "{{ t_bmc_pw_default }}"

  ##
  ##    if you need a unique uid/pw for a host,
  ##    use the bmc_fqdn (NOT THE HOST FQDN!)
  ##    and declare the uid/pw

  #node1.bmc.example.com:
  #  username: ""
  #  password: ""

{% if t_bmc_pw_bastion|length %}
  {{ t_bmc_bastion }}:
    username: "root"
    password: "{{ t_bmc_pw_bastion }}"
{% endif %}

{% if t_bmc_pw_node1|length %}
  {{ t_bmc_node1 }}:
    username: "root"
    password: "{{ t_bmc_pw_node1 }}"
{% endif -%}

{% if t_bmc_pw_node2|length %}
  {{ t_bmc_node2 }}:
    username: "root"
    password: "{{ t_bmc_pw_node2 }}"
{% endif %}

{% if t_bmc_pw_node3|length %}
  {{ t_bmc_node3 }}:
    username: "root"
    password: "{{ t_bmc_pw_node3 }}"
{% endif %}

{% if t_bmc_pw_node4|length %}
  {{ t_bmc_node4 }}:
    username: "root"
    password: "{{ t_bmc_pw_node4 }}"
{% endif %}

